button
    background: none
    border: 1px solid #999
    font-size: 1em
    padding: 1em 2em
    border-radius: 3em
    text-transform: uppercase
    font-weight: bold
    color: #999
    cursor: pointer

    &:hover
        color: dodgerblue
        border-color: dodgerblue